<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_GoogleAdwords>
            <version>1.0.0</version>
        </Webgriffe_GoogleAdwords>
    </modules>
    <global>
        <models>
            <webgriffe_googleadwords>
                <class>Webgriffe_GoogleAdwords_Model</class>
                <resourceModel>webgriffe_googleadwords_resource</resourceModel>
            </webgriffe_googleadwords>
            <webgriffe_googleadwords_resource>
                <class>Webgriffe_GoogleAdwords_Model_Resource</class>
            </webgriffe_googleadwords_resource>
        </models>
        <blocks>
            <webgriffe_googleadwords>
                <class>Webgriffe_GoogleAdwords_Block</class>
            </webgriffe_googleadwords>
        </blocks>
        <helpers>
            <webgriffe_googleadwords>
                <class>Webgriffe_GoogleAdwords_Helper</class>
            </webgriffe_googleadwords>
        </helpers>
        <resources>
            <webgriffe_googleadwords_setup>
                <setup>
                    <module>Webgriffe_GoogleAdwords</module>
                </setup>
            </webgriffe_googleadwords_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe_googleadwords>
                    <file>webgriffe_googleadwords.xml</file>
                </webgriffe_googleadwords>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <webgriffe_googleadwords>
                        <type>singleton</type>
                        <class>webgriffe_googleadwords/observer</class>
                        <method>setConversionOrderIds</method>
                    </webgriffe_googleadwords>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <default>
        <google>
            <adwords>
                <conversion_language>en</conversion_language>
                <conversion_format>3</conversion_format>
                <conversion_color>ffffff</conversion_color>
            </adwords>
        </google>
    </default>
</config>
